{% extends 'main/base.html' %}

{% block title %} Analysis {% endblock %}

{% block navbar-analysis %}
    <li class="nav-item active">
        <a class="nav-link" href="/analysis/"> Site Analysis <span class="sr-only">(current)</span> </a>
    </li>
{% endblock %}


{% block content %}
<div style="margin-top: 1rem; margin-left: 18.5rem;">
    <h1 style="margin-bottom: 1rem;"> {% block analysis_header %} Analysis {% endblock %}</h1>
    {% block analysis_content %}
    <form method='post'>
        {% csrf_token %}
        Site: <select class="custom-select" style="width: 12rem;" name="site_selected">
            {% for site_iter in sites %}
                <option value="{{site_iter}}">{{site_iter}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-success" type='submit'> Go </button>
    </form>

    <div id="message">
        <p style="margin-top: 1rem;"> Select a site to view phenophase analyses. </p>
        <p> Analyses include:
        <ul style="margin-top:-1rem;"> 
            <li> Table of phenophase transition dates</li>
            <li> All site images classified by phenophase</li>
            <li> Phenophase onset dates by year</li>
            <li> Phenophase durations by year</li>
            <li> Yearly percentage change in phenophase durations</li>
        </ul>
        </p> 
    </div>


    {% endblock %}
</div>
{% endblock %}