<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel='stylesheet' type='text/css' href={% static 'bootstrap.css' %}/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        
    <style>
      #page-container {
        position: relative;
        min-height: 100vh;
      }
      
      #content {
        padding-bottom: 4.0rem;    /* Footer height */
        margin-left: 1.5rem;
      }
      
      #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4.0rem;     
        background-color: #111;       /* Footer height */
        align: center;
      }

      .footer-p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        left: 50%;
      }

      .footer-link {
        color: grey;
      }
      .footer-link:hover {
        color: gainsboro;
      }

    {% block style %}

    {% endblock %}

    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> {% block title %} Phenology Analysis Tool {% endblock%} </title>
  </head>

  <body>    
    <div id="page-container">
      <header id='header'>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="height: 4rem;">
          <a class="navbar-brand" href='/' style="margin-right: 3.7rem;">Phenology Analysis Suite &ensp;<i class="fas fa-leaf"></i> </a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              {% block navbar-datamanagement %}
                <li class="nav-item">
                  <a class="nav-link" href="/data-management/">Data Management</a>
                </li>
              {% endblock %}
              {% block navbar-analysis %}
                <li class="nav-item">
                  <a class="nav-link" href="/analysis/">Site Analysis</a>
                </li>
              {% endblock %}
              {% block navbar-overall-analysis %}
                <li class="nav-item">
                  <a class="nav-link" href="/analysis-aggregate/">Aggregate Analysis</a>
                </li>
              {% endblock %}
              {% block navbar-sitemap %}
                <li class="nav-item">
                  <a class="nav-link" href="/spatial-analysis/site-locations/"> Spatial Analysis </a>
                </li>
              {% endblock %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" style="margin-right: 15px;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus fa-sm"></i><span class="caret"></span></a>
                <ul class="dropdown-menu" style="white-space: normal; right: 0; left: auto;">
                  <a class="dropdown-item" href="/data-management/sites/add/">Add New Site</a>
                  <a class="dropdown-item" href="/data-management/upload_images/">Upload Images</a></li>
                </ul>
              </li>
              <li class="dropdown" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">n8srumsey<span class="caret"></span></a>
                <ul class="dropdown-menu" style="white-space: normal; right: 0; left: auto;">
                  <h6 class="dropdown-header" style="padding-bottom: 04px">Signed in as</h6>
                  <h6 class="dropdown-header" style="font-weight: bold; padding-top: 0%;">n8srumsey</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/settings/">Settings</a>
                  <a class="dropdown-item" href="#">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      
      
      
      <div id="content", name="content" class='main'>
        <div class="row m-0">
          {% block sidenav %}
          {% endblock %}
          {% block content %}
          {% endblock %}
        </div>
      </div>
    
      <footer id="footer">
        <p class='footer-p'>
          <a class='footer-link', href='/admin/'>Admin Login</a> | 
          <a class='footer-link' href='mailto:nathan.s.rumsey@gmail.com'>Contact</a> | 
          <a class='footer-link' href='https://github.com/n8srumsey/ISEF-2020-Phenology'>  Github</a>
        </p>
      </footer>
    </div>
    {% block jsScripts%}
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/maps/modules/map.js"></script>
    {% endblock %}
  </body>
</html>