{% extends 'main/base.html' %}

{% block title %} Data Management {% endblock %}

{% block navbar-datamanagement %}
    <li class="nav-item active">
        <a class="nav-link" href="/data-management/">Data-Management <span class="sr-only">(current)</span> </a>
    </li>
{% endblock %}

{% block sidenav %}
<div class="col-md-auto" id="sticky-sidebar" style="margin-right: 2rem;">
    <div class="sticky-top"> 
        <div class="nav flex-column" style='margin-top:2rem; '>
            <div class="card text-white border-light mb-3" style="max-width: 20rem;">
                <div class='card-header'><h5 style='color:black'>Data Management Menu</h5></div>
                <div class="card-body">
                    <h5><a href="/data-management/sites/">Sites</a></h5>
                    <h5><a href="/data-management/sites/add/">Add New Site</a></h5>
                    <h5><a href="/data-management/upload_images/">Upload Images</a></h5>
                </div>
            </div>
            <div>
                {% block quick_links %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

<div class="col order-1"></div>
        {% block content %}
        <div style="margin-top: 1rem;">
            <h2> Data Management </h2>
            <p> *Welcome Message*</p>
        </div>
        {% endblock %}
</div>
