{% extends 'main/data_management.html' %}

{% block title %} {{site.sitename}} {% endblock %}

{% block content %}
<div style="margin-top: 1rem;">
    <h1> {{site.sitename}} </h1>
    <p> Location: {{site.location_desc}} </p>
    <p>First Image Date</p>
    <p>Last Image Date</p>

    <p>*on right side* button export data (with dropdown) </p>
    <p> button edit site </p>
    <p> button edit images</p>

    <p>Images slidebar</p>
    <p>slidebar with image displayed above for current image, and date below slider, tracking it, and with start and end dates labeled on slider</p>
    <p>button link to upload images</p>

    <p>transition dates</p>
    <p>table</p>
</div>
{% endblock %}