{% extends 'main/data_management.html' %}

{% block title %} Sites {% endblock %}

{% block content %}
    <div style="margin-top: 1rem; margin-bottom: 3rem;">
        <h2> Sites </h2>
        <form method='post' style='margin-bottom:1rem; display:flex; flex-direction: column; align-items: flex-end;'>
            {% csrf_token %}
            <span> Go to Site: <select class="custom-select" style="width: 12rem;" name="site_selected">
                {% for site_iter in sites %}
                    <option value="{{site_iter}}">{{site_iter}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-success" type='submit'> Go </button> </span>
        </form>
        <table class="table table-hover">
            <thead> 
                <tr> 
                    <th scope="col" style='padding-right: 12rem;'>Site </th>
                    <th scope='col'>Location</th>
                    <th scope='col'>Latitude</th>
                    <th scope='col'>Longitude</th>
                    <th scope="col">Last Updated</th>
                </tr> 
            </thead>
            <tbody> 
                {% for site in sites %}
                    <tr> 
                    <td><a href="/data-management/sites/{{site.sitename}}">{{site.sitename}}</a></td>
                    <td>{{site.location_desc}}</td>
                    <td>{{site.latitude}}</td>
                    <td>{{site.longitude}}</td>
                    <td>{{site.last_updated}}</td>
                    </tr>
                {% endfor%}      
            </tbody>
        </table>
    </div>
{% endblock %}