{% extends 'main/data_management.html' %}
{% load site_view_funcs%}
{% block style %}
div.gallery {
  margin: 0.5rem;
  border: 1px solid white;
  float: left;
  width: 330px;
}

.gallery:hover .popup i {
	display: block;
}

.gallery:hover {
  background: lightgrey;
}

div.gallery img {
  width: 100%;
  height: auto;
  object-fit: contain; 
  width: 290px; 
  height: auto; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top:1rem;
}

div.desc {
  margin-top: 1rem;
  text-align: center;
}

.popup i {
	position: relative;
  left: 18rem;
  top: -13rem;
	display: none;
  z-index:12
}

.popup {
  color: black;
}

{% endblock %}

{% block content %}
<div class="col-sm" style="margin-top: 1rem;">
<h1> &nbsp; {{site.sitename}} Image Gallery </h1>

{% for image in images%}
<div class="gallery">
  <a href="./{{image.image_upload.name}}">
    <img src="/media/{{image.image_upload.name}}"/>
  </a>
  <div class="desc"><p style="">{% imgname_to_datetime image.image_upload.name %}</p></div>
  <!--<div style="display: block;">
    <a class="popup" href="#"><i class="far fa-trash-alt"></i></a>
    <a class="popup" style="left: 17.93rem;" href="#"><i class="far fa-arrow-alt-circle-down"></i></a>
  </div> -->
</div>
{% endfor %}

</div>
{% endblock %}

{% block quick_links %}
  <a  href='/data-management/sites/{{site}}/'><h6 style="margin-top:1rem; text-align: center;">&#8592; Back to Site Info </h6></a>
{% endblock %}