{% extends 'main/data_management.html' %}

{% block content %}
<div style="margin-top: 1rem;">    
    <h2>Upload Images</h2>
    <form method='post' action='#' enctype="multipart/form-data">
        {% csrf_token %}
        Add to Site: <select class="custom-select" style="width: 12rem;" name="site_selected">
            {% for site in sites %}
            <option value="{{site}}">{{site}}</option>
            {% endfor %}
        </select>
        <input type="file" class="form-control-file" id="images_input" aria-describedby="fileHelp" multiple style="margin-top: 10px;" name="images">
        <small id="fileHelp" class="form-text text-muted">Files must be JPG files and follow the namming convention "sitename_YYYY_MM_DD_HHMMSS.jpg"</small>
        <button type='submit' name='upload_all' value="upload_all" style="margin-top: 10px;"> Upload </button>
    </form>
</div>
{% endblock %}